{% set bookDetails_active = 1 %}
{% extends 'layout.html.twig' %}

{% block contents %}
    <h2>Détails sur le livre ...</h2>
    <p>
        Synopsis : ...

        Image : ...
    </p>
    </div>
{% endblock %}
